<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>File received OK</title>
  </head>
  <body>
    <div class="fileDescriptor-container">
      <h1>Descriptor de archivos</h1>
      <p>
        El archivo
        <a href="/uploads/<%=fileName%>" target="_blank"><%=fileName%></a> fue
        subido correctamente!
      </p>
      <p>Datos del archivo:</p>
      <% if (fileData) { %>
        <div class="fileDescriptor__table-container">
          <table>
            <tr>
              <th>Nombre original</th>
              <td>
                <%= fileData.originalname %>
              </td>
            </tr>
            <tr>
              <th>Codificación</th>
              <td>
                <%= fileData.encoding %>
              </td>
            </tr>
            <tr>
              <th>Tipo</th>
              <td>
                MIME: <%= fileData.mimetype %>
              </td>
            </tr>
            <tr>
              <th>Nombre actual</th>
              <td>
                <%= fileData.filename %>
              </td>
            </tr>
            <tr>
              <th>Ruta</th>
              <td>
                <%= fileData.path %>
              </td>
            </tr>
            <tr>
              <th>Tamaño</th>
              <td>
                <%= fileData.size %> bytes
              </td>
            </tr>
          </table>
        </div>
      <% } %>
      <a href="/upload">Regresar</a>
      </div>
    
  </body>
</html>
